{% load static %}
<!DOCTYPE html>
<html lang='en'>
<head>
  <title>{% block title %}{% endblock %} Yourcompany.com Issue Tracker by Alex</title>
  {% include 'lib/imports.html' %}
</head>
<body>
  <nav>
    <div class="expand lg-hide xl-hide">
      <i class="fas fa-bars"></i>
    </div>
    <ul>
      <li class="sm-hide md-hide">
        <a href="/" class="brand"><i class="fas fa-dragon insetshadowed"></i></a>
      </li>
      <ul class="collapse">
        <li>
          <a href="/issues/all">Open Issues</a>
        </li>
        <li>
          <a href="/issues/my">My Issues</a>
        </li>
        <li>
          <a href="/issues/team">Team</a>
        </li>
        <li>
          <a href="/issues/all/priority" class="nav nav-priority">Priority</a>
        </li>
        <li>
          <a href="/issues/new">New</a>
        </li>
        <li class="nav-right">
          <form>
            <div class="ui-widget">
              <input class="nav-search" name="nav-search" type="text">
            </div>
            <button class="button-secondary">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </li>
        <li class="sm-hide md-hide">
          <a href="#">
            <p class="tiny">Issue<br>Tracker</p>
          </a>
        </li>
      </ul>
    </ul>
  </nav>
  <main>
    {%include 'lib/errors.html' %}
    {% block content %} {% endblock %}
  </main>
  {% include 'lib/jsimports.html' %}
</body>

</html>