$c-primary: #5ca4a9;
$c-warning: #ED6A5A;
$c-easy: #9BC1BC;
$c-light: #E6EBE0;
$c-white: lighten($c-light, 7%);
$c-warm: #F4F1BB;
$c-grey: #586F7C;
$c-black: darken($c-grey, 25%);

$cmap: (
  "primary": (
    bg-color: $c-primary,
    txt-color: $c-light,
    border-top: lighten($c-primary, 3%),
    border-left: lighten($c-primary, 3%),
    border-right: darken($c-primary, 3%),
    border-bottom: darken($c-primary, 3%),
    hover: lighten($c-primary, 3%)
  ),
  "warning": (
    bg-color: $c-warning,
    txt-color: $c-light,
    border-top: lighten($c-warning, 3%),
    border-left: lighten($c-warning, 3%),
    border-right: darken($c-warning, 3%),
    border-bottom: darken($c-warning, 3%),
    hover: darken($c-warning, 3%)
  ),
  "grey": (
    bg-color: $c-grey,
    txt-color: $c-light,
    border-top: lighten($c-grey, 3%),
    border-left: lighten($c-grey, 3%),
    border-right: darken($c-grey, 3%),
    border-bottom: darken($c-grey, 3%),
    hover: darken($c-grey, 3%)
  ),
  "easy": (
    bg-color: $c-easy,
    txt-color: $c-black,
    border-top: lighten($c-easy, 3%),
    border-left: lighten($c-easy, 3%),
    border-right: darken($c-easy, 3%),
    border-bottom: darken($c-easy, 3%),
    hover: darken($c-easy, 3%)
  ),
  "light": (
    bg-color: $c-light,
    txt-color: $c-black,
    border-top: lighten($c-light, 3%),
    border-left: lighten($c-light, 3%),
    border-right: darken($c-light, 3%),
    border-bottom: darken($c-light, 3%),
    hover: darken($c-light, 3%)
  ),
  "warm": (
    bg-color: $c-warm,
    txt-color: $c-black,
    border-top: lighten($c-warm, 3%),
    border-left: lighten($c-warm, 3%),
    border-right: darken($c-warm, 3%),
    border-bottom: darken($c-warm, 3%),
    hover: darken($c-warm, 3%)
  ),
);

// Resets
@import 'normalize';
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: .25em;
}

// JQeury
.ui-widget {
  display: inline;
}

.hide {
  display: none;
}

.center {
  text-align: center;
}

.dismissable {
  width: 90%;
  display: inline-block;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid;

  .inner {
    display: block;
  }

  .close {
    float: right;
    margin: 3px 12px 0px 0px;
    cursor: pointer;
  }
  
  &.info {
    color: darken($c-warm, 30%);
    background-color: lighten($c-warm, 25%);
    border-color: darken($c-warm, 20%);
  }

  &.warning {
    color: darken($c-easy, 40%);
    background-color: lighten($c-easy, 15%);
    border-color: darken($c-easy, 30%);
  }

  &.error {
    color: darken($c-warning, 30%);
    background-color: lighten($c-warning, 25%);
    border-color: darken($c-warning, 20%);
  }
}

body {
  background-color: $c-white;
}

button {
  padding: .25rem;
  background-color: inherit;
  border: 0;
  border-radius: 8px;
  margin: .1rem;
}

button, input {
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

button.icon {
  font-size: .9rem;
  line-height: .9rem;
  text-align: center;
  padding: .2rem;
  border-radius: 50%;
}

button.small.icon {
  font-size: 10px;
  line-height: 10px;
  padding: 1px;
  vertical-align: top;
}

input, textarea {
  padding: .5rem;
  border: 0;
  border-radius: 8px;
  transition: all .2s ease-in-out;
}

@each $name, $color in $cmap {
  button.#{$name} {
    border-top: 2px solid #{map-get($color, border-top)};
    border-left: 2px solid #{map-get($color, border-left)};
    border-right: 2px solid #{map-get($color, border-right)};
    border-bottom: 2px solid #{map-get($color, border-top)};
    background-color: #{map-get($color, bg-color)};
    color: #{map-get($color, txt-color)};
    transition: background-color .2s;
    
    &:hover {
      background-color: #{map-get($color, hover)};
      border-top-color: lighten(map-get($color, border-top), 3%);
      border-left-color: lighten(map-get($color, border-left), 3%);
      border-right-color: lighten(map-get($color, border-right), 3%);
      border-bottom-color: lighten(map-get($color, border-bottom), 3%);
    }
    
    &:active {
      margin-top: 1px;
      margin-bottom: -1px;
      outline: none;
    }
  }

  .tag.#{$name} {
    padding: .25em;
    margin: .25em;
    display: inline-block;
    border-radius: 2px;
    border-top: 1px solid #{map-get($color, border-top)};
    border-left: 1px solid #{map-get($color, border-left)};
    border-right: 1px solid #{map-get($color, border-right)};
    border-bottom: 1px solid #{map-get($color, border-top)};
    background-color: #{map-get($color, color)};
  }
}

.sm-show {
  display: none;
}

// ** Mobile styling **
html {
  // Set REM
  font-size: 24px;
  font-family: "Open Sans", "Helvetica", "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: $c-primary;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: $c-grey; /* Fallback color */
  background-color: rgba($c-grey, .8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: $c-white;
  margin: auto;
  padding: 2rem;
  border: 1px solid $c-grey;
  box-shadow: 0 0 30px 10px rgba(darken($c-grey, 25%), .05);
  width: 95%;
  box-sizing: border-box;
}

.x {
  position: absolute;
  display: inline-block;
  font-size: 1.5em;
  top: .1rem;
  right: .1rem;
}

nav {
  display: block;
  background-color: $c-primary;
}

nav a,
nav li,
nav div.expand {
  color: $c-white;
}

nav div.expand {
  font-size: 2rem;
  padding: 1rem;
}

.collapse {
  display: none;
}

.dropdown {
  display: none;
  background-color: $c-primary;
}

.dropdown li {
  background-color: $c-primary;
}

.dropdown-toggle {
  padding-left: 1rem;
  cursor: pointer;
}

.dropdown-toggle i {
  transition: transform .3s ease-out;
}

.dropdown-toggle.active i {
  transform: rotate(90deg);
}

nav ul .collapse li {
  position: relative;
  padding: .3em 1em;
  transition: all .5s;
  &:hover {
    background-color: darken($c-primary, 3%);
  }
}

.loader {
  border: 4px solid $c-grey; /* Light grey */
  border-top: 4px solid $c-easy; /* Blue */
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 2s linear infinite;
}

.loader-sm {
  border: 4px solid $c-grey; /* Light grey */
  border-top: 4px solid $c-easy; /* Blue */
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media screen and (max-width: 600px) {
  .sm-hide {
    display: none;
  }
  .sm-show {
    display: inline;
  }
  
  td {
    display: block;
    width: 100%;
  }

  th {
    display: none;
  }
}

.nav-search {
  width: 75%;
  display: inline-block;
  margin: 0;
}

main {
  padding: .25rem 1rem 0;
}

// Grid layouts
.single-issue-grid {
  display: grid;
  grid-template-columns: 100%;
}

.informative-grid {
  display: grid;
  grid-template-columns: 50px 50px auto;
  grid-auto-rows: auto;
  grid-template-areas:
    "postit postit postit"
    "info info info"
    "footer footer footer"
    "b1 b2 ."
}

@each $area in info footer details log postit {
  .grid-#{$area} {
    grid-area: #{$area};
  }
}

.grid-info {
  grid-area: info;
}

.grid-footer {
  grid-area: footer;
}

.grid-details {
  grid-area: details;
}

.grid-log {
  grid-area: log;
}

.grid-b1 {
  grid-area: b1;
}

.grid-b2 {
  grid-area: b2;
}

input, textarea {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: .5rem;
  margin: .25em 0;
  border: 1px solid $c-primary;
}

textarea {
  height: 4em;
}

table {
  width: 80%;
  border-collapse: collapse;
}

@each $size in 0 1 2 3 4 5 6 7 8 9 10 11 12 {
  .t-#{$size} {
    width: $size * 8.3%;
    min-width: 3em;
  }
}

tr, td {
  transition: background-color .6s ease-in-out;
}

tr.selected, td.selected {
  background-color: $c-warm;
}

td, th {
  text-align: center;
  vertical-align: center;
}

.issue {
  background-size: cover;
  background-position: center center;
  background-repeat:no-repeat;
  justify-self: center;
  width: 280px;
  height: 280px;
  font-size: .8em;
  padding: 1.8rem 1rem 1.8rem;
  box-sizing: border-box;
  transition: all .1s;
}

@each $sev, $color in (1: lightgreen,
                       2: lightblue,
                       3: lightyellow,
                       4: rgb(253, 159, 253),
                       5: pink) {
  .issue.sev-#{$sev} {
    background-image: url('/static/img/postit-#{$sev}.svg');
  }

  span.sev-#{$sev} {
    display: inline-block;
    width: 1em;
    height: 1em;
    text-align: center;
    line-height: 1em;
    border-radius: 50%;
    padding: .5em;
    margin: .1em .25em;
    background-color: $color;
  }
}

// Responsive breakpoints to properly size post-it background on different phones
@media screen and (min-width:400px) {
  .issue {
    width: 340px;
    height: 340px;
    font-size: 1em;
  }
}

@media screen and (min-width:500px) {
  .issue {
    width: 440px;
    height: 440px;
    font-size: 1.3em;
  }
}

div.issue-inner {
  font: .8em "Indie Flower", "Dekko", sans-serif;
  height: 100%;
  overflow-y: hidden; 
}

div.issue-inner h4 {
  font: 1em "Handlee", "Permanent-Marker",  sans-serif;
  font-weight: 600;
}

.tiny {
  font-size: .4em;
}

.edit-show {
  display: none;
  width: 2em;
  padding: .1em;
  text-align: center;
  margin: auto;
}

.sev-td:hover {
  cursor: pointer;
}

@import 'style-medium';

@import 'style-large';

@import 'style-xl';