@media screen and (min-width: 600px) {
  html {
    font-size: 20px;
  }

  .createform-grid {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: auto 200px;
    grid-template-areas:
      "postit info"
      "footer footer";
  }

  td {
    padding: 0 .25em;
  }

  .modal-form {
    width: 70%;
  }

  .single-issue-grid {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "postit info"
      "footer footer"
      "";
  }

  .issues-grid {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .issue {
    width: 280px;
    height: 280px;
    font-size: 1.2em;
  }

  div.md-inline {
    display: inline-block;
  }

  @each $key, $size in (10: 10%, 25: 25%, 50: 50%, 75: 75%) {
    div.md-inline-#{$key} {
      display: inline-block;
      width: #{$size};
    }
  }

  @media screen and (max-width: 899.5px) {
    .md-hide {
      display: none;
    }
  }
}