@media screen and (min-width: 900px) {
  html {
    font-size: 18px;
  }

  main {
    max-width: 1366px;
  }
  
  .lg-hide {
    display: none;
  }

  .informative-grid {
    display: grid;
    grid-template-columns: 50px 50px 200px auto;
    grid-auto-rows: auto;
    grid-template-areas:
      "postit postit postit info"
      "footer footer footer footer"
      "b1 b2 . ."
  }

  .single-issue-grid {
    display: grid;
    grid-template-columns: 300px auto 33%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "postit info log"
      "footer footer log";
  }

  .issue {
    width: 250px;
    height: 250px;
    font-size: 1.2rem;
  }

  .issues-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }

  @media screen and (max-width: 1050px) {
    .issues-grid {
      grid-template-columns: 33% 33% 33% !important;
    }
  }

  .modal-form {
    width: 45%;
  }

  nav ul, nav ul.collapse {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1366px;
  }

  nav ul.collapse li,
  nav ul li {
    padding: 1rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .nav-right {
    margin-left: auto;
  }

  .form-preview, .form-container {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin: 1.25%;
  }

  @media screen and (max-width: 1370px) {
    .lg-hide {
      display: none;
    }
  }
}