{% extends 'admins/template.html' %}
{% block title %}
Administration:
{% endblock title %}
{% block content %}
    <div>
      <table>
        <thead>
          <tr>
            <th class="t-0">ID</th>
            <th class="t-0">Sev</th>
            <th class="t-3">Users</th>
            <th class="t-0"></th>
            <th class="t-1">Owner</th>
            <th class="t-8">Updates</th>
          </tr>
        </thead>
        <tbody>
          {% for issue in issues %}
          <tr>
            <td>
              <span class="sm-show">ID: </span><a href="/issues/{{issue.id}}">{{ issue.id }}</a>
            </td>
            <td>
              <span class="sm-show">Sev: </span>{{ issue.priority }}
            </td>
            <td modal-issue-id="{{issue.id}}">
              {% for user in issue.users.all %}
                <button class="warning hide"><i class="fas fa-minus-circle"></i></button>
                <a href="mailto:{{user.email}}?subject=Issue%20{{issue.category.name}}-{{issue.id}}" title="{{user.first_name}} {{user.last_name}} | {{user.email}}">{{ user.first_name }}</a>
              {% endfor %}
            </td>
            <td>
              <button class="show-modal primary" modal-issue-id="{{issue.id}}"><i class="fas fa-plus-circle"></i></button>
            </td>
            <td>
              {% if issue.owner %}
                {% with issue.owner as user %}
                <a href="mailto:{{user.email}}?subject=Issue%20{{issue.category.name}}-{{issue.id}}" title="{{user.first_name}} {{user.last_name}} | {{user.email}}">{{ user.first_name }}</a>
                {% endwith %}
              {% else %}
                Open
              {% endif %}
            </td>
            <td>
              {% with issue.log_entries.first.creator as user %}
                <a href="mailto:{{user.email}}?subject=Issue%20{{issue.category.name}}-{{issue.id}}" title="{{user.first_name}} {{user.last_name}} | {{user.email}}">{{ user.first_name }}</a>
                {{ issue.log_entries.first.entry }}
              {% endwith %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="row">
        <div class="ml-auto indent t-center">
          <p><a href="#">1</a> 2 <a href="#">3</a> ... <a href="#">Last</a></p>
          <button class="button-primary">Open Issues</button>
          <button class="button-primary">New Issue</button>
        </div>
      </div>
    </div>

    <div class="modal">
      <div class="modal-content modal-form">
        <div class="x">
          <i class="fas fa-times-circle"></i>
        </div>
        <form id="modal-form" action="" method="POST">
          {% csrf_token %}
          <input type="text" class="modal-users">
          <input id="ids" name="ids" type="hidden">
          <ul id="modal-selected-users">
          </ul>
          <button id="modal-submit" type="submit" class="primary">Submit</button>
          <div class="loader" id="modal-loader"></div>
        </form>
      </div>
    </div>
{% endblock content %}