{% extends 'admins/template.html' %}
{% block title %}
Administration:
{% endblock title %}
{% block content %}
    <div>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Sev</th>
            <th>Users</th>
            <th>Owner</th>
            <th>Updates</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td><td>5</td>
            <td>Jose, John, Jane, Tina</td>
            <td>Amy</td>
            <td>Complete by Jose</td>
            <td>Assign | Priority</td>
          </tr>
          <tr>
            <td>1</td><td>5</td>
            <td>Jose, John, Jane, Tina</td>
            <td>Amy</td>
            <td>Complete by Jose</td>
            <td>Assign | Priority</td>
          </tr>
          <tr>
            <td>1</td><td>5</td>
            <td>
              <button class="button-small-ico-priority"><i class="fas fa-minus-circle"></i></button>
              Jose,
              <button class="button-small-ico-priority"><i class="fas fa-minus-circle"></i></button>
              John,
              <button class="button-small-ico-priority"><i class="fas fa-minus-circle"></i></button>
              Jane,
              <button class="button-small-ico-priority"><i class="fas fa-minus-circle"></i></button>
              Tina
            </td>
            <td>
              Amy
            </td>
            <td>
              Complete by Jose
            </td>
            <td>
              Assign | Priority
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="ml-auto indent t-center">
          <p><a href="#">1</a> 2 <a href="#">3</a> ... <a href="#">Last</a></p>
          <button class="button-primary">Open Issues</button>
          <button class="button-primary">New Issue</button>
        </div>
      </div>
    </div>
{% endblock content %}