{% load static %}
  <link href="https://fonts.googleapis.com/css?family=Caveat|Coming+Soon|Dekko|Handlee|Indie+Flower|Kalam|Permanent+Marker|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">