{% extends 'issues/template.html' %}
{% block title %}
Open Issues:
{% endblock %}
{% block content %}
    <div>
      <a href="#">Sort...</a>
    </div>
    <div class="issues-grid">
      <div class="issue grid-1">
        <div class="issue-inner">
          <h4>django-333</h4>
          Nothing wrong, I just have a style gripe with the devs and I wanted to write a really really really really really really really really really really really really really really really really really really really really really really really really really
          really really really long rant about it.
        </div>
      </div>
      <div class="issue grid-2 priority-5" url="django-555">
        <div class="issue-inner">
          <h4>django-854</h4>
          Seems like the system is down again.
        </div>
      </div>
      <div class="issue grid-3 priority-5">
        <div class="issue-inner">
          <h4>django-854</h4>
          Seems like the system is down again.
        </div>
      </div>
      <div class="issue grid-4 priority-5">
        <div class="issue-inner">
            <h4>django-854</h4>
            Seems like the system is down again.
        </div>
      </div>
      <div class="issue grid-5 priority-5">
        <div class="issue-inner">
          <h4>django-854</h4>
          Seems like the system is down again.
        </div>
      </div>
    </div>
{% endblock content %}