{% extends 'lib/template.html' %} {% load static %}
{% block title %} Create Issue: 
{% endblock %}
{% block content %}
<div class="form-container">
  <form action="/issues/create" method="POST" autocomplete="off">
    {% csrf_token %}
    <div class="md-inline-75">
      Category<br>
      <input id="category" type="text" name="category">
    </div>
    <div class="md-inline-10">
      Severity<br>
      <input id="severity" type="text" size="1" name="severity">
    </div>
    <br>

    Issue Description
    <textarea id="desc" type="text" name="desc" placeholder="Provide as many details as possible. Try to answer the basic five: Who, What, When, Where, and Why."></textarea> Post-it
    <textarea id="shortdesc" name="shortdesc" placeholder="Enter a post-it size description of the issue."></textarea>
    
    Notify
    <input id="notifications" type="text" placeholder="Select names from the dropdown." autocomplete="off">
    <input id="notify-ids" name="notify-ids" type="hidden">
    <button type="submit" class="warning">Submit</button>
  </form>
</div>
<div class="form-preview sm-hide">
  <div class="createform-grid">
    <div class="issue sev-3 grid-postit">
      <div class="issue-inner">
        <h4>-###</h4>
      </div>
    </div>
    <div class="grid-info">
      <br>
      <span class="sev-3">?</span>
      <p>Created By: Username<br>Created: <em>Now</em><br>Updated: <em>Now</em></p>
    </div>
    <div class="grid-footer">
      <h4>Issue Details:</h4>
    </div>
  </div>
  <ul id="notify-users">
  </ul>
</div>
{% endblock content %}