{% extends 'issues/template.html' %} {% block title %}{% endblock %} {% block content %}
<main>
  <div class="informative-grid">
    <div class="grid-postit">
      <div class="issue priority" url="hardware-888">
        <div class="issue-inner">
          <h4>Django-245</h4>
          Server stopped working. It seems to be an epidemic. Can we get some better servers?
        </div>
      </div>
    </div>

    <div class="grid-info">
      <h4>Tony McTonyson</h4><em>Yesterday</em>
      <p>Updated the fire supression software and gave the McMangerGuy a talking to.</p>
      <h4>Bree Cheesewedge</h4><em>Yesterday</em>
      <p>Removed duplicate tickets.</p>
      <h4>Bree Cheesewedge</h4><em>Yesterday</em>
      <p>Updated the fire supression software and gave the McMangerGuy a talking to.</p>
    </div>
    <div class="grid-info-b1">
      <button class="button-grid-ico-primary"><i class="fas fa-check"></i></button>
    </div>
    <div class="grid-info-b2">
      <button class="button-grid-ico-primary"><i class="fas fa-times"></i></button>
    </div>
    <div class="grid-info-footer">
      Created: <em>10/16/18</em><br> Last activity: <em>12/15/18</em>
    </div>
  </div>

  <div class="informative-grid">
    <div class="grid-postit">
      <div class="issue priority" url="django-222">
        <div class="issue-inner">
          <h4>Django-245</h4>
          Server stopped working. It seems to be an epidemic. Can we get some better servers?
        </div>
      </div>
    </div>

    <div class="grid-info">
      <h4>Tony McTonyson</h4><em>Yesterday</em>
      <p>Updated the fire supression software and gave the McMangerGuy a talking to.</p>
      <h4>Bree Cheesewedge</h4><em>Yesterday</em>
      <p>Removed duplicate tickets.</p>
      <h4>Bree Cheesewedge</h4><em>Yesterday</em>
      <p>Updated the fire supression software and gave the McMangerGuy a talking to.</p>
    </div>
    <div class="grid-info-b1">
      <button class="button-grid-ico-primary"><i class="fas fa-check"></i></button>
    </div>
    <div class="grid-info-b2">
      <button class="button-grid-ico-primary"><i class="fas fa-times"></i></button>
    </div>
    <div class="grid-info-footer">
      Created: <em>10/16/18</em><br> Last activity: <em>12/15/18</em>
    </div>
  </div>
  <div class="informative-grid">
    <div class="grid-postit">
      <div class="issue priority" url="django-222">
        <div class="issue-inner">
          <h4>Django-245</h4>
          Server stopped working. It seems to be an epidemic. Can we get some better servers?
        </div>
      </div>
    </div>

    <div class="grid-info">
      <h4>Tony McTonyson</h4><em>Yesterday</em>
      <p>Updated the fire supression software and gave the McMangerGuy a talking to.</p>
      <h4>Bree Cheesewedge</h4><em>Yesterday</em>
      <p>Removed duplicate tickets.</p>
      <h4>Bree Cheesewedge</h4><em>Yesterday</em>
      <p>Updated the fire supression software and gave the McMangerGuy a talking to.</p>
    </div>
    <div class="grid-info-b1">
      <button class="button-grid-ico-primary"><i class="fas fa-check"></i></button>
    </div>
    <div class="grid-info-b2">
      <button class="button-grid-ico-primary"><i class="fas fa-times"></i></button>
    </div>
    <div class="grid-info-footer">
      Created: <em>10/16/18</em><br> Last activity: <em>12/15/18</em>
    </div>
  </div>

  <div class="informative-grid">
    <div class="grid-postit">
      <div class="issue priority" url="django-245">
        <div class="issue-inner">
          <h4>Django-245</h4>
          Server stopped working. It seems to be an epidemic. Can we get some better servers?
        </div>
      </div>
    </div>

    <div class="grid-info">
      <h4>Tony McTonyson</h4><em>Yesterday</em>
      <p>Updated the fire supression software and gave the McMangerGuy a talking to.</p>
      <h4>Bree Cheesewedge</h4><em>Yesterday</em>
      <p>Removed duplicate tickets.</p>
      <h4>Bree Cheesewedge</h4><em>Yesterday</em>
      <p>Updated the fire supression software and gave the McMangerGuy a talking to.</p>
    </div>
    <div class="grid-info-b1">
      <button class="button-grid-ico-primary"><i class="fas fa-check"></i></button>
    </div>
    <div class="grid-info-b2">
      <button class="button-grid-ico-primary"><i class="fas fa-times"></i></button>
    </div>
    <div class="grid-info-footer">
      Created: <em>10/16/18</em><br> Last activity: <em>12/15/18</em>
    </div>
  </div>
  {% endblock content %}