{% load static %}
<!DOCTYPE html>
<html lang='en'>
<head>
  <title>{% block title %}{% endblock %} Yourcompany.com Issue Tracker by Alex</title>
  {% include 'imports.html' %}
</head>


<body>
  <nav>
    <a href="/" class="brand"><i class="fas fa-dragon"></i></a>
    <ul class="inline-menu mr-auto">
      <li>
        <a class="nav" href="/issues/all">Open Issues</a>
      </li>
      <li>
        <a class="nav" href="/issues/my">My Issues</a>
      </li>
      <li>
        <a class="nav" href="/issues/team">Team</a>
      </li>
      <li>
        <a href="/issues/all/priority" class="nav-priority">Priority</a>
      </li>
    </ul>
    <ul class="inline-menu">
      <li>
        <form>
          <div class="ui-widget">
            <input class="nav-search" type="text">
          </div>
          <button class="button-secondary">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </li>
      <li>
        <a href="#">
          <p class="issue-tracker-brand">Issue<br>Tracker</p>
        </a>
      </li>
    </ul>
  </nav>
  <main>
    {% block content %} {% endblock %}
  </main>
  {% include 'jsimports.html' %}
</body>

</html>